# Existing mkdocs.yml content
site_name: Algoritmekader 2.2
site_description: Het Algoritmekader van het Ministerie van Binnenlandse Zaken en Koninkrijksrelaties

theme:
    name: material
    custom_dir: src/overrides
    language: nl
    palette:
        primary: custom
    logo: assets/logo.svg
    favicon: assets/favicon.ico
    font: false
    features:
        - navigation.indexes
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.top
        - navigation.tracking
        - navigation.instant
        - navigation.footer
        - navigation.prune
        - navigation.path
        - search.highlight
        - search.suggest
        - content.tooltips
        - content.tabs.link
    icon:
        logo: fontawesome/solid/house
        annotation: fontawesome/solid/circle-info

nav:
    - Soorten algoritmes en AI:
         - soorten-algoritmes-en-ai/index.md
         - soorten-algoritmes-en-ai/wat-is-een-algoritme.md
         - soorten-algoritmes-en-ai/risico-van-ai-systemen.md
         - soorten-algoritmes-en-ai/impact-van-algoritmes.md
         - soorten-algoritmes-en-ai/generatieve-ai.md
         - soorten-algoritmes-en-ai/definities.md
    - Onderwerpen:
        # - Overzicht: onderwerpen/index.md
        - ... | onderwerpen/*.md
    - Levenscyclus:
        - levenscyclus/index.md
        - levenscyclus/over-de-levenscyclus.md
        - levenscyclus/organisatieverantwoordelijkheden.md
        - levenscyclus/probleemanalyse.md
        - levenscyclus/ontwerp.md
        - levenscyclus/dataverkenning-en-datapreparatie.md
        - levenscyclus/ontwikkelen.md
        - levenscyclus/verificatie-en-validatie.md
        - levenscyclus/implementatie.md
        - levenscyclus/monitoring-en-beheer.md
        - levenscyclus/uitfaseren.md
    - Rollen:
        - ... | rollen/*.md
    - Voldoen aan wetten en regels:
        - Overzicht: voldoen-aan-wetten-en-regels/index.md
        - Vereisten: voldoen-aan-wetten-en-regels/vereisten/index.md
        - Maatregelen: voldoen-aan-wetten-en-regels/maatregelen/index.md
        - Hulpmiddelen: voldoen-aan-wetten-en-regels/hulpmiddelen/index.md
        - AI-verordening in het kort: voldoen-aan-wetten-en-regels/ai-verordening.md
        - Tijdlijn AI-verordening: voldoen-aan-wetten-en-regels/tijdlijn-ai-verordening.md

# Extra opties
markdown_extensions:
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.details
    - admonition
    - attr_list
    - abbr
    - md_in_html
    - footnotes
    - toc:
        toc_depth: 3
    - pymdownx.tasklist:
        custom_checkbox: true
        clickable_checkbox: true
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - pymdownx.snippets:
        auto_append:
            - includes/begrippenlijst.md
    - pymdownx.blocks.html

# Extra opties voor footer
extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/MinBZK/Algoritmekader

extra_css:
  - stylesheets/navigation.css
  - stylesheets/filters.css
  - stylesheets/extra.css
  - stylesheets/footer.css
  - stylesheets/all.min.css
  - stylesheets/choices.min.css
  - stylesheets/modal.css

extra_html:
  - html/ai-verordening-popup.html
  - html/beslishulp.html

extra_javascript:
  - javascripts/jquery-3.6.0.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js
  - javascripts/exportExcel.js
  - javascripts/choices.min.js
  - javascripts/tablesort.min.js
  - javascripts/tablesort.js
  - javascripts/filtering.js
  - javascripts/mermaid.min.js
  - javascripts/modal.js

plugins:
    - glightbox
    - search
    - git-revision-date-localized:
        enable_creation_date: true
        timezone: Europe/Amsterdam
        locale: nl
        enabled: !ENV [MKDOCS_ENABLE_GIT_DATES, true]
    - awesome-pages:
        collapse_single_pages: true

hooks:
    - src/overrides/hooks/tags.py
    - src/overrides/hooks/lists.py

# Link naar GitHub repo
repo_url: https://github.com/MinBZK/Algoritmekader
site_url: https://minbzk.github.io/Algoritmekader/
edit_uri: edit/main/docs/
