# Existing mkdocs.yml content
site_name: Algoritmekader [concept]
site_description: Concept van het algoritmekader. Het doel daarvan is om overheden op praktische wijze te ondersteunen, zodat zij op een wettige en ethisch verantwoorde wijze algoritmes en AI-systemen gebruiken.

theme: 
    name: material
    language: nl
    logo_text: Algoritmekader [concept]
    font: false 
    palette:
        - scheme: custom
          primary: '#154273'
          accent: '#B9D6EC'
          background: '#111111'
          text: '#154273'
        - primary: custom
    features:
        - navigation.indexes
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.top
        - navigation.tracking
        - navigation.instant
        - navigation.footer
        - navigation.prune
        - search.highlight
        - search.suggest
        - content.action.edit
        - content.action.view
        - content.tooltips
        - content.tabs.link
    icon:
        logo: fontawesome/solid/house
        annotation: fontawesome/solid/circle-info
    logo: https://overheid.nl/themes/contrib/koopoverheid_theme/logo.svg

nav:
    - Home: index.md
    - Over het algoritmekader: 
        - overhetalgoritmekader/index.md
        - overhetalgoritmekader/definities.md
        - overhetalgoritmekader/CONTRIBUTING.md
    - Governance:
        - governance/index.md
        - governance/governance-structuur.md
        - governance/politiek-bestuurlijk-kader.md
        - governance/interactie-burgers-en-omgeving.md
        - governance/volwassenheidsniveau.md
        - governance/levenscyclus.md
        - governance/rollen_en_verantwoordelijkheden.md
        - governance/type_algoritme.md
    - Levenscyclus:
        - levenscyclus/index.md 
        - levenscyclus/probleemanalyse.md
        - levenscyclus/ontwerp.md
        - levenscyclus/dataverkenning-en-datapreparatie.md
        - levenscyclus/ontwikkelen.md
        - levenscyclus/verificatie-en-validatie.md
        - levenscyclus/implementatie.md
        - levenscyclus/monitoring-en-beheer.md
        - levenscyclus/uitfaseren.md
    - Onderwerpen:
        - onderwerpen/index.md
        - ... | onderwerpen/*/*.md
    - Rollen:
        - ... | rollen/*.md
    - Vereisten:
        - ... | vereisten/*.md
    - Maatregelen:
        - ... | maatregelen/*.md
    - Instrumenten:
        - ... | instrumenten/*.md

# Extra opties
markdown_extensions: 
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.details
    - admonition
    - attr_list
    - abbr
    - md_in_html
    - footnotes
    - toc:
        permalink: true
        toc_depth: 3
    - pymdownx.tasklist:
        custom_checkbox: true
        clickable_checkbox: true
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - pymdownx.snippets:
        auto_append:
            - includes/begrippenlijst.md

# Extra opties voor footer
extra: 
    social:
        - icon: fontawesome/brands/github 
          link: https://github.com/MinBZK/Algoritmekader

extra_css:
  - stylesheets/filters.css
  - stylesheets/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css
  - https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css  # Replace Select2 CSS with Choices.js

extra_javascript:
  - https://code.jquery.com/jquery-3.6.0.min.js
  - https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js  # Replace Select2 JS with Choices.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
  - javascripts/filtering.js

plugins:
    - glightbox
    - search
    - git-revision-date-localized:
        enable_creation_date: true
    - awesome-pages:
        collapse_single_pages: true

hooks:
    - src/overrides/hooks/tags.py
    - src/overrides/hooks/lists.py

# Link naar GitHub repo
repo_url: https://github.com/MinBZK/Algoritmekader
edit_uri: edit/main/docs/
