<footer class="md-footer">
    <div class="md-footer__inner">
      <div class="md-footer__column">
      </div>
      <div class="md-footer__column">

      </div>
      <!-- Column 1: Internal Links -->
      <div class="md-footer__column">
        <a href="{{ base_url }}/over-het-algoritmekader/CONTRIBUTING/#ik-heb-een-vraag">Contact</a>
        <a href="{{ base_url }}/over-het-algoritmekader/over-het-algoritmekader">Over het Algoritmekader</a>
        <a href="{{ base_url }}/over-het-algoritmekader/veelgestelde-vragen">Veelgestelde vragen</a>
        <a href="{{ base_url }}/over-het-algoritmekader/sitemap">Sitemap</a>
      </div>
      <!-- Column 2: Policy Pages -->
      <div class="md-footer__column">
        <a href="{{ base_url }}/over-het-algoritmekader/privacy">Privacy</a>
        <a href="{{ base_url }}/over-het-algoritmekader/cookies">Cookies</a>
        <a href="{{ base_url }}/over-het-algoritmekader/copyright">Copyright</a>
        <a href="{{ base_url }}/over-het-algoritmekader/toegankelijkheid">Toegankelijkheid</a>
        <a href="{{ base_url }}/over-het-algoritmekader/kwetsbaarheid-melden">Kwetsbaarheid melden</a>
        <a class="is-external-link-icon" href="https://github.com/MinBZK/Algoritmekader/releases" target="_blank"><span class="visually-hidden">Link naar externe pagina</span>Releasenotes op Github</a>
      </div>
      <!-- Column 3: External Government Links -->
      <div class="md-footer__column">
        <a class="is-external-link-icon" href="https://overheid.nl/" target="_blank"><span class="visually-hidden">Link naar externe pagina</span>Overheid.nl</a>
        <a class="is-external-link-icon" href="https://www.rijksoverheid.nl/" target="_blank"><span class="visually-hidden">Link naar externe pagina</span>Rijksoverheid.nl</a>
        <a class="is-external-link-icon" href="https://www.digitaleoverheid.nl/" target="_blank"><span class="visually-hidden">Link naar externe pagina</span>Digitale Overheid</a>
        <a class="is-external-link-icon" href="https://data.overheid.nl/" target="_blank"><span class="visually-hidden">Link naar externe pagina</span>Data.overheid.nl</a>
        <a class="is-external-link-icon" href="https://aienalgoritmes.pleio.nl/" target="_blank"><span class="visually-hidden">Link naar externe pagina</span>aienalgoritmes.pleio.nl</a>
      </div>
    </div>
  </footer>
<div id="modal" class="minbzk-modal display-none">
  <div class="modal-underlay" onclick="closeModal()"></div>
  <div class="modal-content-container" id="modal-content-container">
    <div class="modal-content-close" onclick="closeModal()">×</div>
    <div class="modal-content" id="modal-content">
  </div>
  </div>
</div>
