<footer class="md-footer">
    <div class="md-footer__inner">
      <!-- Left Section: Notice Text -->
      <div class="md-footer__notice">
        <p>Let op: deze website is in ontwikkeling. De informatie verandert vaak. Wil je <a href="/Algoritmekader/overhetalgoritmekader/CONTRIBUTING/">meehelpen?</a></p>
      </div>
  
      <!-- Right Section: Links in Columns -->
      <div class="md-footer__links">
        <div class="md-footer__column">
          <a href="/Algoritmekader/overhetalgoritmekader/">Over het Algoritmekader</a>
          <a href="/Algoritmekader/overhetalgoritmekader/CONTRIBUTING/">Meedoen</a>
          <a href="#">Contact</a>
          <a href="#">Privacy</a>
        </div>
        <div class="md-footer__column">
          <a href="https://overheid.nl/">Overheid.nl</a>
          <a href="https://www.rijksoverheid.nl/">Rijksoverheid.nl</a>
          <a href="https://www.digitaleoverheid.nl/">Digitale Overheid</a>
          <a href="https://data.overheid.nl/">Data.overheid.nl</a>
          <a href="https://algoritmes.pleio.nl/">Algoritmes.pleio.nl</a>
        </div>
      </div>
    </div>
  </footer>
