/* Load custom font */
@font-face {
    font-family: 'CustomFont';
    src: url('stylesheets/fonts/ROsanswebtextregular.woff') format('truetype');
  }
  
  body {
    font-family: 'CustomFont', sans-serif;
  }
  
  /* Modal styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: none; /* Hidden by default */
    z-index: 9999; /* Ensure modal is on top of other content */
  }
  
  .overlay:target {
    display: block; /* Show modal when targeted */
  }
  
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    z-index: 10000; /* Ensure it's above the overlay */
    max-height: 80%; /* Prevent modal from growing too tall */
    overflow-y: auto; /* Allow scrolling inside modal if content overflows */
  }
  
  .popup h2 {
    font-family: 'CustomFont', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .popup .content {
    font-family: 'CustomFont', sans-serif;
    font-size: 16px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: black;
    text-decoration: none;
  }
  
  .close:hover {
    color: red;
  }
  