name: Publish mkdocs via GitHub Pages
on:
  push:
    tags:
      - v*

jobs:
  deploy-main:
    name: deploy main
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: get tag
        id: get_commit_hash
        run: |
          echo "commit_hash=$(git describe --tags)" >> "$GITHUB_OUTPUT"
      - name: inject version
        run: |
          sed -i 's/development/${{ steps.get_commit_hash.outputs.commit_hash }}/g' docs/version.md

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: 'pip'
      - run: |
          pip install -r requirements.txt
        env:
          GITHUB_TOKEN: ${{ secrets.material_insiders_token }}

      - run: mkdocs gh-deploy --force
