name: Publish mkdocs via GitHub Pages
on:
  push:
    tags:
      - v*

jobs:
  deploy-main:
    name: deploy main
    runs-on: ubuntu-latest
    steps:

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: 'pip'
        
      - run: pip install -r requirements.txt

      - run: mkdocs gh-deploy --force
