name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed    

concurrency: preview-${{ github.ref }}

jobs:
  deploy:
    name: deploy PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        if: github.event.action != 'closed' 
        with:
          python-version: 3.x
          cache: 'pip'

      - name: install dependencies
        if: github.event.action != 'closed' 
        run: pip install -r requirements.txt

      - name: build preview
        if: github.event.action != 'closed' 
        run: mkdocs build

      - uses: actions/upload-artifact@v4
        if: github.event.action != 'closed' 
        with: 
          name: AlgoritmeKaderWebsite-${{github.event.number}}
          path: ./site/

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./site/