name: Run python script

on:
  push:
    branches:
      - main

jobs:
  run-python-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: 'pip'

      - name: install dependencies
        run: pip install -r requirements.txt

      - name: Run Python script
        run: python script/analysis-maatregelen.py

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: push changes
        run: |
          git add relatie-ak-tot-toetsingskaders.csv
          git commit -m "Update CSV bestand"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_COMMIT_PUSH }}
